@import "_variables.scss";
@import "_normalize.scss";
@import "_base.scss";
@import "_header.scss";
@import "_slider.scss";
@import "_form.scss";
@import "../css/sprite.css";

.ico {
	display: inline-block;
}

.button {
	width: 200px;
	height: 51px;
	background-color: #18a3fa;
	display: inline-block;
	text-align: center;
	position: relative;
	box-shadow: 0 3px 0 0 #1387cf;
	&:hover {
		background-color: #1a96e3;
	}
	&.button-2 {
		display: block;
		width: 150px;
		height: 34px;
		background: #47c45d;
		box-shadow: 0 3px 0 0 #379848;
		&:hover {
			background: #1edb3f; 
		}
		span {
			color: white;
			font-size: 13px;
			font-weight: 300;
		}
	}
	span {
		position: absolute;
		right: 0;
		left: 0;
		color: white;
		font-size: 16px;
		top: 50%;
		display: inline-block;
		transform: translateY(-50%);
	}
	&:active {
		transform: translateY(3px);
		box-shadow: 0 3px 0 0 transparent;
	}
}

.hide-menu {
	display: none;
	position: absolute;
	width: 100%;
	padding-left: 20px;
	background: #39c051;
	@media #{$bp-large} {
		padding-left: 10px;
	}
	@media #{$bp-small} {
		position: relative;
		display: none !important;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		right: 100%;
		height: 100%;
		background: #39c051;
		top: 0;
	}
	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		left: 100%;
		height: 100%;
		background: #39c051;
		top: 0;
	}
	li {
		display: inline-block;
		margin: 16px 20px 12px;
		&:first-child {
			margin-left: 0;
		}
		a {
			color: white;
			font-size: 14px;
			display: inline-block;
			text-decoration: none;
			position: relative;
			&:hover:after {
				background: rgba(255,255,255, .3);
			}
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 1px;
			}
		}
	}
}

header {
	position: relative;
	background: #262626;
	overflow: hidden;
	padding-bottom: 16px;
	@media #{$bp-small} {
		text-align: center;
	}
	.toggle-button {
		cursor: pointer;
		position: absolute;
		display: inline-block;
		border-bottom: 1px solid rgba(255,255,255, .3);
		bottom: 0;
		font-size: 15px;
		color: #fff;
		left: 150px;
		@media #{$bp-small} {
			position: static;
			display: inline-block !important;
			font-size: 20px;
			margin-bottom: 10px;
		}
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	.relative {
		position: relative;
	}
	.lang {
		position: absolute;
		right: 27px;
		top: 11px;	
		z-index: 2;
		@media #{$bp-small} {
			position: static;
			display: block;
			margin: 10px 0;
		}
		li {
			display: none;
			&.active {
				display: block;
				position: relative;
			}
		}
		a {
			color: white;
			font-size: 12px;
			text-decoration: none;
			position: relative;
			padding-left: 25px;
			display: inline-block;
			.russian {
				width: 19px;
				height: 13px;
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				background: url(../img/russian.png) left top no-repeat;

			}
			&:after {
				content: '';
				display: block;
				border-bottom: 1px dotted #fff;
				width: 100%;
				height: 1px;
			}
		}
	}
	.container {
		position: static;
	}
	&.header-img {
		min-height: 667px;
		padding-bottom: 80px;
		@media #{$bp-medium} {
			min-height: initial;
		}
		&.main-header {
			background: url(../img/main-header.jpg) center top no-repeat;
			background-size: cover;
		}  
		&.zenno-poster {
			background: url(../img/zenno-poster.jpg) center top no-repeat;
			background-size: cover;	
		}
		&.capmonster {
			background: url(../img/capmonster.jpg) center top no-repeat;
			background-size: cover;	
		}
		&.zennoproxy {
			background: url(../img/zennoproxy.jpg) center top no-repeat;
			background-size: cover;	
		}
		&.zennodroid {
			background: url(../img/zenno-droid.jpg) center top no-repeat;
			background-size: cover;
		}
	}
	&.dropp {
		.wrapp-menu {
			.main-nav {
				& > li {
					margin: 48px 0 0;
					&:first-child {
						margin-left: 20px;
						@media #{$bp-large} {
							margin-left: 15px;
						}
					}
					& > a {
						padding: 12px 22px 13px;
						border: none;
						@media #{$bp-large} {
							padding-left: 10px;
							padding-right: 10px;
						}
						&.current {
							background: #39c051;
						}
					}
					&.opened {
						.hide-menu {
							display: block;
							left: 129px;
							@media #{$bp-medium} {
								left: 0;
							}
						}
					}
				}
			}
			.service-link {
				li {
					margin-bottom: 15px;
					@media #{$bp-medium} {
						margin-bottom: 0;
					}
				}
			}
		}
		h2 {
			margin-top: 0 !important;
		}
		.prod-icon {
			i {
				margin-top: 100px;
				margin-bottom: 25px;
				@media #{$bp-small} {
					margin-top: 20px;
				}
			}
			.button {
				margin-top: 28px;
				margin-bottom: 17px;
			}
			.note {
				font-size: 14px;
				line-height: 20px;
				color: rgba(255,255,255, .5);
			}
		}
	}
	.logo {
		margin-top: 10px;
		float: left;
		position: relative;
		z-index: 1;
		@media #{$bp-small} {
			display: inline-block;
			float: none;
		}
		img {
			display: block;
		}
	}
	

	h2 {
		text-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
		color: white;
		font-size: 54px;
		line-height: 70px;
		text-align: center;
		font-weight: 300;
		margin: 170px 0 0;
		span {
			display: block;
			font-size: 40px;
			font-weight: 100;
			line-height: 70px;
		}
		@media #{$bp-large} {
			margin: 100px 0 0px;
			font-size: 45px;
			line-height: 50px;
			span {
				font-size: 37px;
				line-height: 44px;
			}
		}
		@media #{$bp-medium} {
			font-size: 35px;
			line-height: 40px;
			margin: 100px 0 0px;
			span {
				font-size: 30px;
			}
		}
		@media #{$bp-small} {
			font-size: 28px;
			line-height: 32px;
			margin: 30px 0 0px;
			span {
				font-size: 24px;
			}
		}
		@media #{$bp-xsmall} {
			font-size: 20px;
			margin-top: 15px;
			line-height: 23px;
			span {
				font-size: 17px;
				line-height: 25px;
			}
		}
	}
	.mouse {
		position: absolute;
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 40px;
		height: 56px;
		background: #39c051;
		.ico-mouse {
			position: absolute;
			top: 13px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
		}
	}
}	











.section-menu-scroll {
	background-color: #f9f9f9;
	a {
		text-decoration: none;
		display: block;
		border-bottom: 3px solid transparent;
		padding: 44px 5px 50px 81px;
		position: relative;
		@media #{$bp-medium} {
			padding-top: 30px;
			padding-bottom: 30px;
		}
		@media #{$bp-small} {
			text-align: center;
			padding: 20px 15px;
		}
		i {
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			display: inline-block;
			@media #{$bp-small} {
				position: static;
				transform: none;
				display: block;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 8px;
			}
		}
		&:active {}
		&:hover {
			background-color: #efefef;
			border-color: #39c051;
		}
		.head {
			color: black;
			font-size: 20px;
			font-weight: 400;
			display: inline-block;
			margin-bottom: 10px;
			@media #{$bp-large} {
				font-size: 17px;
			}
			@media #{$bp-medium} {
				font-size: 20px;
			}
		}
		.dsc {
			color: black;
			font-size: 16px;
			@media #{$bp-large} {
				font-size: 12px;
			}
			@media #{$bp-medium} {
				font-size: 16px;
			}
		}
	}
}












.section-pruduct {
	padding-top: 80px;
	padding-bottom: 89px;	
	border-bottom: 1px solid #e6e6e6;
	@media #{$bp-medium} {
		padding: 50px 0 70px;
	}
	@media #{$bp-small} {
		padding: 40px 0 40px;
	}

	i {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	h3 {
		position: relative;
		padding-left: 81px;
		color: black;
		font-size: 40px;
		font-weight: 300;
		margin: 0;
		@media #{$bp-small} {
			font-size: 30px;
		}
		@media #{$bp-xsmall} {
			font-size: 20px;
			padding-left: 65px;
		}
	}
	.product-image {
		width: 100%;
		height: auto;
		margin-top: -35px;
		@media #{$bp-medium} {
			margin-top: 0;
		}
		@media #{$bp-xsmall} {
			margin-top: 20px;
		}
	}
	p {
		padding: 35px 0 55px;
		@media #{$bp-large} {
			padding: 20px 0 20px;
		}
		@media #{$bp-medium} {
			padding: 15px 0 15px;
		}
	} 
}










.section-green-line {
	background: #39c051;  
	padding: 55px 0;
	text-align: center;
	@media #{$bp-medium} {
		padding: 45px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	.line > div:nth-child(2) {
		border-left: 1px solid #30a344;
		border-right: 1px solid #30a344;
		@media #{$bp-small} {
			border: none;
			margin: 35px 0;
		}
	}
	.b-size {
		font-size: 88px;
		font-weight: 900;
		text-shadow: 0 3px #33ac48;
		@media #{$bp-large} {
			font-size: 69px;
		}
		@media #{$bp-medium} {
			font-size: 50px;
		}
	}
	.s-size {
		font-size: 16px;
		@media #{$bp-large} {
			font-size: 14px;
		}
		@media #{$bp-medium} {
			font-size: 13px;
		}
	}
}













.section-news {
	padding: 85px 0 112px;	
	@media #{$bp-medium} {
		padding: 50px 0 70px;
	}
	@media #{$bp-small} {
		padding: 40px 0 40px;
	}
	.news-block > div:not(:first-child) {
		@media #{$bp-medium} {
			margin-top: 30px;
		}
	}
	h4 {
		color: black;
		font-size: 48px;
		font-weight: 300;
		margin: 0 0 40px;
		@media #{$bp-medium} {
			font-size: 40px;
		}
		@media #{$bp-small} {
			margin-bottom: 30px;
			font-size: 35px;
		}
		@media #{$bp-xsmall} {
			font-size: 31px;
		}
	}
	.title-link {
		color: #18a3fa;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid rgba(24, 163, 250, .3);
		}
		@media #{$bp-xsmall} {
			font-size: 16px;
		}
	}
	p {
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 20px;
		line-height: 20px;
		@media #{$bp-medium} {
			margin: 7px 0;
		}
	}
	.date {
		color: rgb(157, 157, 157);
		font-size: 12px;
		line-height: 25px;
	}
}







.wrapp-menu {
	font-size: 1px;
	display: block;
	text-align: justify;
	position: relative;
	@media #{$bp-small} {
		text-align: center;
	}
	&:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 0;
		font-size: 1px;
		overflow: hidden;
		@media #{$bp-small} {
			display: none;
		}
	}
	.main-nav {
		display: inline-block;
		vertical-align: bottom;
		@media #{$bp-medium} {
			display: none;
			top: 100%;
			position: absolute;
			& > li {
				margin: 0 !important;
				& > a {
					font-size: 18px !important;
				}
			}
		}

		@media #{$bp-small} {
			position: static;
			& > li {
				display: block !important;
			}
		}
		@media #{$min-m} {
			display: inline-block !important; 
		}
		& > li {
			display: inline-block;
			margin: 0 22px;
			@media #{$bp-large} {
				margin: 0 10px;
			}
			&:first-child {
				margin-left: 42px;
				@media #{$bp-large} {
					margin-left: 25px;
				}
			}
			& > a {
				color: white;
				display: inline-block;
				padding-top: 57px;
				font-size: 18px;
				text-decoration: none;
				border-top: 3px solid transparent;
				position: relative;
				@media #{$bp-large} {
					font-size: 15px;
				}
				@media #{$bp-medium} {
					padding: 12px 10px 13px;
				}
				@media #{$bp-medium} {
					border-bottom: 3px solid transparent;
					border-top: none;
				}
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
				}
				&.current,
				&:hover {
					border-top: 3px solid #39c051;
					@media #{$bp-medium} {
						border-top: none;
						border-bottom: 3px solid #39c051;
					}
					&:after {
						background: none;
					}
					&:after {
						background: rgba(255,255,255, .3);
					}
				}
			}
		}
	}	
	.service-link {
		display: inline-block;
		vertical-align: bottom;
		@media #{$bp-medium} {
			position: absolute;
			right: 0;
			bottom: 0;
		}
		@media #{$bp-small} {
			position: static;
			display: block;
			margin: 10px 0;
		}
		li {
			display: inline-block;
			vertical-align: top;
			margin-right: 31px;
			margin-bottom: 2px;
			@media #{$bp-large} {
				margin-right: 15px;
			}
			@media #{$bp-small} {
				display: block;
				margin-bottom: 5px !important;
			}
			&:last-child {
				margin-right: 0;
			}
			.ico {
				vertical-align: bottom;
				margin-right: 7px;
			}
			a {
				font-size: 14px;
				color: rgba(255,255,255, .5);
				text-decoration: none;
				display: inline-block;
				&:hover {
					span {
						border-bottom: 1px solid rgba(255,255,255, .3);

					}
				}
				span {
					border-bottom: 1px solid transparent;
					display: inline-block;
					vertical-align: bottom;
				}
			}
		}
	}
}




footer {
	background: #000;
	padding: 60px 0 70px;
	@media #{$bp-medium} {
		padding: 50px 0 50px;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	.row-footer {
		@media #{$bp-medium} {
			text-align: center;
		}
		.logo-footer {
			display: inline-block;
			text-align: left;
			position: relative;
			padding-left: 80px;
			margin-top: 47px;
			img {
				position: absolute;
				left: 0;
				top: 50%;
				display: block;
				transform: translateY(-50%);
			}
			span {
				font-size: 14px;
				line-height: 20px;
				color: rgba(255,255,255, .5);
			}
			@media #{$bp-medium} {
				margin-top: 20px;
			}
		}
		.social {
			text-align: right;
			padding-top: 70px;
			@media #{$bp-medium} {
				text-align: center;
				padding-top: 20px;
			}
			li {
				display: inline-block;
				margin-left: 30px;
				@media #{$bp-medium} {
					margin: 0 15px;
				}
				i {
					font-size: 19px;
					color: rgba(255,255,255, .5);
				}
			}
		}
	}

	.wrapp-menu {
		.service-link {
			@media #{$bp-medium} {
				position: static;
				display: block;
			}
			li {
				@media #{$bp-medium} {
					display: block;
					margin-bottom: 5px;
					text-align: center;
				}
			}
		}
		.main-nav {
			@media #{$bp-medium} {
				display: block;
				position: static;
				margin-bottom: 20px;
			}
			li {
				&:first-child {
					margin-left: 0;
				}
				@media #{$bp-medium} {
					display: block;
					text-align: center;
					margin-bottom: 5px !important;
				}
				a {
					padding: 0;
					border: none !important;
				}
			}
		}
	}
}






















.section-text {
	padding: 20px 0 40px;
	& > .container > div {
		margin: 17px 0;
		@media #{$bp-medium} {
			text-align: center !important;
			padding: 0;
			margin: 15px 0;
		}
	}
	.stl-1 {
		color: rgb(74, 159, 89);
		font-size: 26px;
		font-weight: 400;
		line-height: 25px;
		padding-left: 210px;
		@media #{$bp-small} {
			font-size: 21px;
		}
	}
	.stl-2 {
		color: rgb(206, 148, 65);
		font-size: 22px;
		font-weight: 400;
		line-height: 30px;
		text-align: right;
		padding-right: 228px;
		@media #{$bp-small} {
			font-size: 18px;
		}
	}
	.stl-3 {
		color: rgb(15, 109, 182);
		font-size: 20px;
		font-weight: 300;
		line-height: 25px;
		padding-left: 85px;
		@media #{$bp-small} {
			font-size: 17px;
		}
	}
	.stl-4 {
		color: rgb(222, 122, 105);
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		text-align: right;
		padding-right: 81px;
		@media #{$bp-small} {
			font-size: 16px;
		}
	}
	.stl-5 {
		color: rgb(156, 156, 156);
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		padding-left: 249px;
		@media #{$bp-small} {
			font-size: 15px;
		}
	}
}













.title {
	color: black;
	font-size: 40px;
	font-weight: 100;
	text-align: center;
	@media #{$bp-medium} {
		font-size: 30px;
		@media #{$bp-small} {
			font-size: 25px;
		}
	}
}

.section-program-f {
	padding-bottom: 20px;
	border-bottom: 1px solid #e6e6e6;
	.title-3 {
		color: black;
		font-size: 26px;
		font-weight: 100;
		text-align: center;
		padding-top: 70px;
		@media #{$bp-medium} {
			padding-top: 50px;
			font-size: 22px;
		}
		@media #{$bp-small} {
			padding-top: 40px;
			font-size: 19px;
		}
		@media #{$bp-xsmall} {
			font-size: 17px;
		}
	}
	.box {
		margin: 47px 0 50px;
		position: relative;
		padding-left: 100px;
		@media #{$bp-small} {
			padding-left: 80px;
			margin: 25px 0;
		}
		@media #{$bp-large} {
			br {
				display: none;
			}
		}
		i {
			position: absolute;
			left: 0;
			top: 5px;
		}
		p {
			color: rgb(72, 72, 72);
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			margin-top: 8px;
		}
	}
}


.bold {
	color: black;
	font-size: 18px;
	font-weight: 700;
}





.section-install {
	background: #f9f9f9;
	text-align: center;
	padding: 65px 0;
	@media #{$bp-medium} {
		padding: 50px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	.title-2 {
		color: rgb(72, 72, 72);
		font-size: 18px;
		font-weight: 300;
		line-height: 25px;
		text-align: center;
		@media #{$bp-medium} {
			font-size: 16px;
			line-height: 20px;
		}
		@media #{$bp-small} {
			font-size: 15px;
		}
	}
	.button {
		width: 380px;
		margin-top: 40px;
		@media #{$bp-small} {
			margin-top: 20px;
		}
		@media #{$bp-xsmall} {
			width: 100%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}





h1 {
	color: black;
	font-size: 48px;
	font-weight: 300;
	margin-bottom: 32px;
	border-top: 32px;
	@media #{$bp-medium} {
		font-size: 40px;
	}
	@media #{$bp-small} {
		font-size: 30px;
	}
	@media #{$bp-xsmall} {
		font-size: 25px;
	}
}

.section-about-product {
	text-align: center;
	padding-bottom: 78px;
	padding-top: 30px;
	h1 {
		margin-bottom: 63px;
	}
	& + .section-advantages {
		border-top: 1px solid #e6e6e6;
	}
	@media #{$bp-medium} {
		padding: 20px 0 50px;
	}
	@media #{$bp-small} {
		padding: 10px 0 40px;
	}
	.a-product > div {
		img {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			max-width: 280px;
			width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			border: 2px solid rgb(24, 163, 250);
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
			@media #{$bp-large} {
				max-width: 90%;
			}
			@media #{$bp-medium} {
				max-width: 280px;
			}
		}
	}
	.a-product.zdroid > div {
		padding-bottom: 390px;
		position: relative;
		@media #{$bp-large} {
			padding-bottom: 340px;
		}
		@media #{$bp-medium} {
			padding-bottom: 220px;
		}
		@media #{$bp-small} {
			margin-bottom: 40px;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 6px;
			height: 58px;
			background: url(../img/zd-1.png) center top no-repeat;
			bottom: 390px - 80px; 
			@media #{$bp-large} {
				bottom: 270px;
			}
			@media #{$bp-medium} {
				bottom: 170px;
			}
			@media #{$bp-small} {
				display: none;
			}
		}
		img {
			max-width: 493px;
			height: auto;
			@media #{$bp-large} {
				max-width: 90%;
			}
			@media #{$bp-medium} {
				max-width: 280px;
			}
			@media #{$bp-small} {
				max-width: 280px;
			}
		}
	}
	.a-product.zpx >div {
		img {
			max-width: 385px;
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
			@media #{$bp-large} {
				max-width: 90%;
			}
			@media #{$bp-medium} {
				max-width: 220px;
			}
			@media #{$bp-small} {
				max-width: 280px;
			}
		}
		@media #{$bp-small} {
			margin-bottom: 40px;
		}
	}
	.zpx >div {
		position: relative;
		padding-bottom: 340px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 252px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 6px;
			height: 88px;
			background: url(../img/px-1.png) center top no-repeat;

		}
		@media #{$bp-large} {
			padding-bottom: 280px;
			&:after{
				bottom: 280px-88px;
			}
		}
		@media #{$bp-medium} {
			padding-bottom: 200px;
			&:after{
				bottom: 200px-88px;
			}
		}
		@media #{$bp-small} {
			padding-bottom: 220px;
			&:after {
				display: none;
			}
		}
	}

	.zennoP > div {
		position: relative;
		padding-bottom: 160px;
		@media #{$bp-large} {
			padding-bottom: 130px;
		}
		@media #{$bp-medium} {
			padding-bottom: 150px;
			margin-bottom: 40px;
			&:nth-child(2n+1) {
				clear: left;
			}
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			@media #{$bp-medium} {
				display: none;
			}
		}
		&:nth-child(1):after {
			width: 185px;
			height: 149px;
			left: 40px;
			background: url(../img/z1.png) center top no-repeat;
		}
		&:nth-child(2):after {
			width: 6px;
			height: 297px;
			left: 53px;
			background: url(../img/z2.png) center top no-repeat;
		}
		&:nth-child(3):after {
			width: 6px;
			height: 179px;
			left: 60px;
			background: url(../img/z3.png) center top no-repeat;
		}
		&:nth-child(4):after {
			width: 310px;
			height: 330px;
			right: 72px;
			background: url(../img/z4.png) center top no-repeat;
		}

	}
	.big-img-zenno {
		img {
			max-width: 891px;
			width: 100%;
			height: auto;
			box-shadow: 0 0 35px rgba(0, 0, 0, 0.35);
			margin-top: 60px;
		}
	}


	.capM > div {
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			z-index: 2;
			@media #{$bp-small} {
				display: none;
			}
		}
		&:nth-child(1):after {
			width: 6px;
			height: 155px;
			background: url(../img/cm-1.png) center top no-repeat;
			left: 50%;
			@media #{$bp-medium} {
				height: 50px;
				background-position: center bottom !important;
			}
		}
		&:nth-child(2):after {
			width: 6px;
			height: 197px;
			background: url(../img/cm-2.png) center top no-repeat;
			left: 50%;
			@media #{$bp-medium} {
				background-position: center bottom !important;
				height: 110px;
			}
		}
		&:nth-child(3):after {
			width: 6px;
			height: 281px;
			background: url(../img/cm-3.png) center top no-repeat;
			left: 50%;
			@media #{$bp-medium} {
				background-position: center bottom !important;
				height: 180px;
			}
		}
	}
	.big-img-capmomster {
		img {
			max-width: 647px;
			display: block;
			width: 100%;
			height: auto;
			box-shadow: 0 0 55px rgba(0, 0, 0, 0.35);
			position: relative;
			@media #{$bp-medium} {
				max-width: 65%;
			}
			&:first-child {
				left: 40px;
				margin-top: 75px;
				@media #{$bp-medium} {
					margin-top: -5%;
				}
			}
			&:nth-child(2) {
				left: 270px;
				top: 0px;
				margin-top: -410px;
				@media #{$bp-large} {
					left: 170px;
				}
				@media #{$bp-medium} {
					margin-top: -40%;
					left: 20%;
				}
			}
			&:nth-child(3) {
				float: right;
				margin-top: -395px;
				@media #{$bp-medium} {
					margin-top: -37%;
				}
			}
		}
	}
}




.section-work {
	text-align: center;
	background: #f9f9f9;
	padding-bottom: 80px;
	padding-top: 66px;
	@media #{$bp-medium} {
		padding: 50px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	h1 {
		margin-top: 0;
	}
	.button {
		width: 300px;
		@media #{$bp-xsmall} {
			max-width: 300px;
			width: 100%;
		}
	}
	.scheme > div {
		position: relative;
		margin: 15px 0 17px;
		&:not(:last-child):after {
			content: '';
			display: block;
			position: absolute;
			width: 176px;
			height: 21px;
			top: 15px;
			left: 71%;
			background: url(../img/arrow-1.png) center top no-repeat;
			@media #{$bp-large} {
				width: 150px;
				height: 20px;
				background-size: 100% 100%;
			}
			@media #{$bp-medium} {
				display: none;
			}
		}
		&:nth-child(2):after {
			background: url(../img/arrow-2.png) center top no-repeat;
			@media #{$bp-large} {
				background-size: 100% 100%;
			}
		}
		@media #{$bp-medium} {
			margin-bottom: 10px;
		}
	}
	.ico {
		margin-bottom: 28px;
		@media #{$bp-medium} {
			margin-bottom: 10px;
		}
	}
	.size-nrm {
		color: rgb(72, 72, 72);
		font-size: 24px;
		line-height: 20px;
	}
	p {
		color: rgb(141, 141, 141);
		font-size: 14px;
		line-height: 20px;
	}

}










.section-advantages {
	padding-bottom: 24px;
	padding-top: 62px;
	border-bottom: 1px solid #e6e6e6;
	h1 {
		margin: 0;
		text-align: center;
		margin-bottom: 65px;
		@media #{$bp-medium} {
			margin-bottom: 45px;
		}
	}
	@media #{$bp-medium} {
		padding: 50px 0 20px;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	.row > div {
		&:nth-child(3n+1) {
			@media #{$min-m} {
				clear: left;
			}
		}
		&:nth-child(2n+1) {
			@media #{$bp-medium} {
				clear: left;
			}
		}
		margin-bottom: 41px;
		@media #{$bp-medium} {
			margin-bottom: 30px;
		}
		@media #{$bp-small} {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.box-2 {
		position: relative;
		padding-left: 95px;
		@media #{$bp-small} {
			padding-left: 80px;
		}
		.ico {
			position: absolute;
			left: 0;
			top: 4px;
		}
		.bold {
			font-size: 16px;
		}
		p {
			font-size: 14px;
			margin: 10px 0;
			line-height: 20px;
		}
	}
}






.centerY {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}


.section-prof {
	padding: 30px 0 80px;
	border-bottom: 1px solid #e6e6e6;
	@media #{$bp-small} {
		text-align: center;
		padding: 10px 0 40px;
	}
	.centerY {
		@media #{$bp-small} {
			margin-top: 25px;
			position: static;
			transform: translateY(0);
		}
	}
	h1 {
		text-align: center;
		margin-bottom: 70px;
		@media #{$bp-medium} {
			margin-bottom: 40px;
		}
	}
	img {
		max-width: 440px;
		height: auto;
		width: 100%;
	}
	p {
		margin: 0 0 40px;
	}
}









.section-comment {
	padding: 60px 0 70px;
	border-bottom: 1px solid #e6e6e6;
	@media #{$bp-medium} {
		padding: 50px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	h1 {
		margin: 0;
		text-align: center;
	}
	.comment-wrapp {
		padding-top: 69px;
		@media #{$bp-medium} {
			padding-top: 55px;
		}
		@media #{$bp-small} {
			padding-top: 40px;
		}
		&>div {
			margin-bottom: 41px;
			@media #{$bp-medium} {
				margin-bottom: 30px;
			}
			@media #{$bp-small} {
				margin-bottom: 25px;
			}
			@media #{$min-m} {
				&:nth-child(3n+1) {
					clear: left;
				} 
			}
		}
		img {
			float: left;
		}
		.text-b {
			margin-left: 100px;
			p {
				font-size: 14px;
				line-height: 20px;
				margin-top: 4px;
				@media #{$bp-xsmall} {
					font-size: 13px;
					line-height: 15px;
				}
			}
		}
	}
	.more {
		color: #18a3fa;
		font-size: 16px;
		font-weight: 300;
		text-decoration: none;
		display: inline-block;
		border-bottom: 1px dotted #18a3fa;
	}
}






.section-faq {
	background-color: #f9f9f9;
	padding: 70px 0;
	@media #{$bp-medium} {
		padding: 50px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	h1 {
		text-align: center;
		margin: 0;
	}
	.owl-slider {
		padding-top: 69px;
		@media #{$bp-medium} {
			padding-top: 40px;
		}
		@media #{$bp-small} {
			padding-top: 35px;
		}
	}
	.item {
		position: relative;
		.ico {
			position: absolute;
			left: 0;
			top: 0;
		}
		.t-block {
			margin-left: 70px;
			@media #{$bp-xsmall} {
				margin-left: 60px;
			}
		}
		.bold {
			font-size: 15px;
			line-height: 20px;
			@media #{$bp-small} {
				font-size: 14px;
				line-height: 17px;
			}
		}
		p {
			font-size: 14px;
			line-height: 20px;
			@media #{$bp-small} {
				line-height: 17px;
				font-size: 13px;
				margin-top: 8px;
			}
		}
	}
	.owl-controls {
		text-align: center;
		padding-top: 40px;
		@media #{$bp-xsmall} {
			padding-top: 20px;
		}
		.owl-dots {
			.owl-dot {
				width: 26px;
				height: 3px;
				background-color: #d9d9d9;
				display: inline-block;
				margin: 3px;
				&.active {
					background-color: #39c051;
				}
			}
		}
	}
}









.section-available {
	padding: 50px 0 60px;
	@media #{$bp-medium} {
		padding: 50px 0;
	}
	@media #{$bp-small} {
		padding: 40px 0;
	}
	h1 {
		text-align: center;
		margin: 0 0 75px;
	}
	.captcha-a {
		text-align: justify;
		font-size: 0;
		position: relative;
		&.right-n {
			text-align: right;
			margin-top: -90px;
			@media #{$bp-medium} {
				margin-top: -50px;
			}
			@media #{$bp-small} {
				margin-top: 0;
			}
			.box-captcha {
				vertical-align: bottom;
				margin-left: 37px;
				@media #{$bp-small} {
					margin-left: 0;
				}
			}
		}
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			overflow: hidden;
		}
		.box-captcha {
			display: inline-block;
			text-align: center;
			vertical-align: top;
			@media #{$bp-large} {
				width: 17%;
			}
			@media #{$bp-small} {
				width: 100%;
				margin-bottom: 25px;
			}
			.bold {
				font-size: 18px;
				color: black;
				font-weight: 700;
				@media #{$bp-medium} {
					font-size: 15px;
				}
			}
			.note-2 {
				color: #10a81b;
				font-weight: 400;
				font-size: 18px;
				@media #{$bp-medium} {
					font-size: 14px;
				}
			}
			img {
				box-shadow: 0 3px 27px rgba(0, 0, 0, 0.23);
				margin-top: 20px;
				@media #{$bp-large} {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	.link {
		color: #0a6ae2;
		font-size: 24px;
		font-weight: 300;
		text-decoration: underline;
		display: inline-block;
		margin-top: 60px;
		@media #{$bp-medium} {
			font-size: 20px;
			margin-top: 40px;
		}
		@media #{$bp-small} {
			font-size: 15px;
			margin-top: 30px;
		}
	}
}









.section-patch {
	padding-top: 23px;
}
.patch-wrapp {
	li {
		font-size: 12px;
		font-weight: 300;
		display: inline-block;
		color: black;
		font-size: 12px;
		position: relative;
		a {
			color: #484848;
			display: inline-block;
			position: relative;
			padding-right: 34px;
			text-decoration: none;
			i {
				position: absolute;
				right: 11px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}


.section-order {
	padding-bottom: 47px;
	& + footer {
		margin-top: 120px;
		@media #{$bp-medium} {
		      margin-top: 60px;
		}
		@media #{$bp-small} {
		      margin-top: 50px;
		}
		@media #{$bp-xsmall} {
		      margin-top: 10px;
		}
	}
	.steps {
		.circle-st {
			width: 205px;
			text-align: center;
			position: relative;
			display: inline-block;
			vertical-align: top;
			margin: 35px auto 50px;
			padding: 0 30px;
			@media #{$bp-small} {
				display: block;
				margin: 20px auto;
			}
			&:not(:last-child):after {
				content: '';
				display: block;
				position: absolute;
				width: 15px;
				height: 27px;
				right: 0;
				margin-right: -12px;
				top: 12px;
				@media #{$bp-small} {
					display: none;
				}
			}
			span {
				font-size: 14px;
				font-weight: 300;
				color: rgba(0,0,0, .5);
			}
			.circle-number {
				width: 50px;
				height: 50px;
				background-color: white;
				border: 2px solid #e6e6e6;
				font-size: 28px;
				font-weight: 300;
				text-align: center;
				line-height: 50px;
				color: rgba(0,0,0, .5);
				margin-left: auto;
				margin-right: auto;
				border-radius: 50%;
				position: relative;
				margin-bottom: 15px;
				i {
					position: absolute;
					margin-left: auto;
					margin-right: auto;
					left: 0;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
				&.active {
					background-color: #39c051;
					border: 2px solid #39c051;
					color: #fff;
					& + span {
						color: black;
					}
					i.ico-success {
						background-position: -392px -292px;
					}
				}
			}
		}
	}
	.head-1 {
		text-align: center;
		color: black;
		font-size: 26px;
		font-weight: 100;
		margin-bottom: 38px;
	}
	.top-block-shadow {
		background-color: white;
		border: 1px solid #e6e6e6;
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		text-align: justify;
		font-size: 0;
		position: relative;
		padding: 11px 31px;
		&:after {
			content: '';
			display: inline-block;
			width: 100%;
			height: 0;
			overflow: hidden;
		}
		.head-2 {
			max-width: 50%;
			color: black;
			font-size: 20px;
			font-weight: 300;
			position: relative;
			padding-left: 55px;
			i {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
			}
			@media #{$bp-small} {
				display: block;
				min-width: 100%;
				text-align: center;
				margin-bottom: 15px;
				padding-left: 0;
				i {
					top: 0;
					transform: translateY(0);
					margin-left: auto;
					margin-right: auto;
					display: block;
					position: static;
					margin-bottom: 7px;
				}		
			}
		}
		&>div {
			display: inline-block;
			vertical-align: middle;
		}
		.calc-price {
			max-width: 48%;
			@media #{$bp-small} {
				width: 100%;
				display: block;
				text-align: center;
				min-width: 100%;
			}
			.calc {
				display: inline-block;
				vertical-align: middle;
				width: 80px;
				height: 33px;
				border: 1px solid #e6e6e6;
				position: relative;
				background: #f9f9f9;
				text-align: center;
				color: #484848;
				font-size: 14px;
				font-weight: 700;
				@media #{$bp-xsmall} {
					display: block;
					text-align: center;
					margin-left: auto;
					margin-right: auto;
					margin-bottom: 10px;
				}
				b {
					display: inline-block;
					position: absolute;
					left: 0;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
				.minus {
					position: absolute;
					left: 0;
					top: 0;
					width: 20px;
					height: 100%;
					background-color: white;
					border-right: 1px solid #e6e6e6;
					cursor: pointer;
					i {
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				.plus {
					position: absolute;
					right: 0;
					top: 0;
					width: 20px;
					height: 100%;
					background-color: white;
					border-left: 1px solid #e6e6e6;
					cursor: pointer;
					i {
						display: block;
						position: absolute;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						top: 50%;
						transform: translateY(-50%);

					}
				}
			}
			.price {
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				margin-left: 60px;
				line-height: 25px;
				@media #{$bp-xsmall} {
					display: block;
					margin: 0;
				}
				.old-price {
					color: #a3a3a3;
					font-size: 16px;
					font-weight: 300;
					position: relative;
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 89px;
						height: 13px;
						background: url(../img/old.png) center top no-repeat;
						top: 50%;
						transform: translateY(-50%);
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;

					}
				}
				.new-price {
					color: black;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
	}
	.block-bottom {
		background-color: #fffedf;
		border: 1px solid #ddeed4;
		text-align: center;
		.note-3 {
			padding: 15px 5px;
			color: black;
			font-size: 14px;
			font-weight: 300;
			strong {
				font-weight: 700;
			}
			b {
				font-weight: 400;
			}
		}
	}
}

.success-wind {
	background-color: white;
	text-align: center;
	border: 1px solid #e6e6e6;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 52px 80px 60px;
	@media #{$bp-large} {
	      padding: 40px 20px;
	}
	@media #{$bp-medium} {
	      padding: 40px 25px;
	      width: 70%;
	}
	@media #{$bp-small} {
	      width: 80%;
	}
	@media #{$bp-xsmall} {
	      width: 90%;
	      padding: 15px;
	}
	.thx1 {
		color: black;
		font-size: 32px;
		font-weight: 300;
		@media #{$bp-medium} {
		      font-size: 26px;
		}
		@media #{$bp-small} {
		      font-size: 22px;
		}
		@media #{$bp-xsmall} {
		      font-size: 20px;
		}
	}
	.thx2 {
		margin-top: 32px;
		color: #484848;
		font-size: 16px;
		font-weight: 300;
		line-height: 30px;
		@media #{$bp-medium} {
		      font-size: 14px;
		      line-height: 16px;
		      margin-top: 15px;
		}
	}
}


.section-special-propose {
	background: #f9f9f9;
	padding: 30px 0 45px;
	margin-bottom: 45px;
	.dsc {
		text-align: center;color: black;
		font-size: 24px;
		font-weight: 100;
		text-align: center;
	}
	.title-small {
		color: black;
		font-size: 16px;
		font-weight: 400;
		padding-left: 40px;
		position: relative;
		margin-top: 45px;
		i {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.button-2 {
		margin-top: 18px;
	}
	.l-more {
		color: #18a3fa;
		text-decoration: underline;
		font-size: 14px;
		font-weight: 300;
	}
	p {
		font-size: 14px;
		font-weight: 300;
		color: #484848;
		line-height: 20px;
		margin-bottom: 5px;
	}
}

.next-block {
	padding-bottom: 100px;
}

.form-main {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	@media #{$bp-large} {
		width: 50%;
	}
	@media #{$bp-medium} {
		width: 60%;
	}
	@media #{$bp-small} {
		width: 80%;
	}
	@media #{$bp-xsmall} {
		width: 90%;
	}
	input:not([type=submit]) {
		display: inline-block;
		border: none;
		outline: none;
		width: 100%;
		height: 48px;
		border: 1px solid #e6e6e6;
		background-color: #f9f9f9;
		color: #484848;
		font-size: 16px;
		font-weight: 400;
		padding-left: 17px;
		margin-bottom: 15px;
		padding-right: 10px;
		&.ronly {
			background-color: #fcfcfc;
		}
	}
	[type=submit] {
		border: none;
		margin-top: 65px;
		outline: none;
		cursor: pointer;
		@media #{$bp-medium} {
		      margin-top: 50px;
		}
		@media #{$bp-small} {
		      margin-top: 40px;
		}
		@media #{$bp-xsmall} {
		      margin-top: 25px;
		}
	}
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin-bottom: 15px;
		background: url(../img/ico-select.png) 98% center no-repeat;
		display: inline-block;
		border: none;
		outline: none;
		width: 100%;
		height: 48px;
		border: 1px solid #e6e6e6;
		background-color: #f9f9f9;
		color: #484848;
		font-size: 16px;
		font-weight: 400;
		padding-left: 17px;
	}
}


p {
	color: #484848;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	@media #{$bp-small} {
		font-size: 14px;
		line-height: 20px;
	}
}